/* Это обнуление стилей, не пугайся)) */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}


/* --------------------------------------------------------------------------------------------------------------- */

html {
    font-size: 16px; 
    font-family: Arial, Helvetica, sans-serif;
}

/* вся оболчка внешняя */
.wrapper {
  background: rgba(51, 26, 56, 1) url('../img__loading/main_bg.jpg');
  min-height: 100%;
  width: 100%;
  font-size: 16px;
  color: #fff;
}

/* .back__loading  {
    position: absolute;
    width: 100%;
    height: 100%;
}
.logo__main {
    position: absolute;
    max-width: 40rem;
    max-height: 40rem;
    
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);   
} */

/* .white__stripe {
    position: absolute;

    background: rgba(115, 76, 136, 0.57);
    opacity: 0.8;
    
    width: 100%;
    height: 100%;
    max-width: 1920px;
    max-height: 35px;
} */


.moon {
  position: relative;
  display: block;
  width: 10.5rem;
  height: 10.5rem;

  background: linear-gradient(
    131.34deg,
    rgba(0, 0, 0, 0.54) -30.29%,
    #63327d 45.76%
  );

  border-bottom-right-radius: 90%;
}

.hamb {
  position: absolute;
  left: 20px;
  top: 20px;
}

.stripes:hover {
  transition: all 500ms ease;
  cursor: pointer;
}

.stripes:active {
  cursor: pointer;
}

.stripes {
  display: inline-block;
}
.top__stripe,
.middle__stripe,
.buttom__stripe {
  position: relative;
  margin-bottom: 5px;
  width: 2.5rem;
  height: 0.125rem;
  background: #d9d9d9;
}


/* Левая панелька - sidebar */
.sidebar {
  max-width: 22%;
  min-height: 100vh;
  border-top-right-radius: 110px;
  background: #734c88 url('../img__loading/JW logo new.png') 75% 1% / 40% no-repeat;
}

/* Список чатов */
.chat{
    margin-top: 20px;
}

/* Один конкретный чат */
.chat__item{
    display: flex;
    padding: 20px 15px;
    gap: 1rem;
    cursor: pointer;
}

.chat__item:hover{
    background-color: #ab84c08f;
}

.chat__avatar{
    flex: 0 1 3.125rem;
    border-radius: 50%;
    height: 3.125rem;
    width: 3.125rem;
    background-color: rgb(0, 229, 255);
}

.chat__body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat__username{
    font-weight: 700;
}